* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    animation: backgroundAnimation 50s ease-in-out infinite;
    background-size: cover;
}

.container {
    width: 300px;
    height: 400px;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 30px 55px 2px rgba(0,0,0,0.46);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;    
}

.title {
    width: 100%;
    height: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    animation: cardAnimation 30s ease-in-out infinite;
}

.addSection {
    width: 100%;
    height: 15%;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
}

.taskInput {
    margin: 10px 0 10px 10px;
    padding: 10px;
    width: 180px;
    height: 40px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #dbdbdb;
    border-right: none;
    outline: none;
}

.add {
    width: 60px;
    height: 40px;
    margin: 10px 10px 10px 0;
    background-color: #f7b71d;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.add:hover {
    background-color: #ffa600;
}

.list {
    width: 100%;
    height:80%;
    padding: 0 10px 10px 10px;
    overflow: auto;
}

/* DOM Elements */

.taskContainer {
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task {
    width: 170px;
}
i.fas.fa-check, i.fas.fa-trash-alt {
    opacity: 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
i.fas.fa-check:hover {
    color: #0c9463;
}
i.fas.fa-trash-alt:hover {
    color: #ff0000;
}
i.fas.fa-check:active {
    transform: translateY(3px);
}
i.fas.fa-trash-alt:active {
    transform: translateY(3px);
}
.taskContainer:hover i.fas.fa-check, .taskContainer:hover i.fas.fa-trash-alt {
    opacity: 1;
}

/* Cards animation */
@keyframes cardAnimation {
    0%, 100% {
        background-image: url('./img/cards/card-cover-0.jpg');
    }
    50% {
        background-image: url('./img/cards/card-cover-1.jpg');
    }
}

/* background animation */
@keyframes backgroundAnimation {
    0%, 100% {
        background-image: url('./img/backgrounds/background-cover-0.jpg');
    }
    20% {
        background-image: url('./img/backgrounds/background-cover-3.jpg');
    }
    40% {
        background-image: url('./img/backgrounds/background-cover-0.jpg');
    }
    60% {
        background-image: url('./img/backgrounds/background-cover-4.jpg');
    }
    80% {
        background-image: url('./img/backgrounds/background-cover-3.jpg');
    }
}